body {
    background-color: grey;
    font-family: 'Open Sans', sans-serif;
}
.donate-link{
    color:white 
}

.Main-Header{
    
    text-align: center;
    color:white
}
.Title_1{
    font-size: larger;
}
.First-Post{
    background-color: black;
}
.taliban-fun-boat{
    border: 3px solid white;
    background-color: black;
    padding: 50px 50px;
}
.donate-link{
    position: absolute; 
    top: 50px;
    right: 30px;
    border: 3px solid white;
    background-color: black;
    padding: 50px 25px;

}
.donate-link-bio{
    word-wrap: break-word;
    width: 238.5px;
 }